body{
    font-family: "IBM Plex Sans Arabic";
}

:root{
    --section-color : #9cd3d8;
    --item-color: #0396a6;
    --offWhite: #e9e8e8;
    --black:#383838;
}

.feedback-nav{
    height: 80vh;
    background: linear-gradient( 45deg, var(--section-color)  ,var(--item-color) );
}

.feedback-section{
    height: fit-content;
    width: 100%;
}